{
	local_certs
	skip_install_trust
	storage file_system /caddy_storage
}

https://localhost:{$HTTPBIN_HTTPS_PORT:8443} {
	reverse_proxy httpbin:80
}

http://localhost:{$HTTPBIN_HTTP_PORT:8080} {
	reverse_proxy httpbin:80
}

https://caddyhttpbin:{$HTTPBIN_HTTPS_PORT:8443} {
	reverse_proxy httpbin:80
}

http://caddyhttpbin:{$HTTPBIN_HTTP_PORT:8080} {
	reverse_proxy httpbin:80
}
