version: '3'

services:
  proxy:
    build: ./test/docker/tinyproxy
    ports:
      - "8888:8888"

  proxy-auth:
    build: ./test/docker/tinyproxy-auth
    ports:
      - "8889:8888"

  httpbin:
    image: kennethreitz/httpbin:latest
    ports:
      - "8080:80"

  caddyhttpbin:
    image: caddy:2.6.4-alpine
    # in github actions we want to access the files created
    # by caddy. however, in linux these end up being owned by root
    # because the container by defaults runs using the root user
    # and we are not root in the gh action so cannot access them
    user: "${UID}:${GID}"
    volumes:
      - "./caddy_storage:/caddy_storage"
      - "./Caddyfile:/etc/caddy/Caddyfile"
    ports:
      - "8443:8443"
