name: CI

on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: true
      matrix:
        include:
          - erlang: "24.1.3"
            elixir: "1.12.3"
            lint: true
          - erlang: "23.3.4.8"
            elixir: "1.11.4"
          - erlang: "23.3.4"
            elixir: "1.10.4"
          - erlang: "22.3.4.22"
            elixir: "1.9.4"
          - erlang: "21.3.8.24"
            elixir: "1.8.2"
    steps:
      - uses: actions/checkout@v1

      - name: Install OTP and Elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.erlang}}
          elixir-version: ${{matrix.elixir}}

      - name: Install dependencies
        run: mix deps.get

      - name: Start docker
        run: docker-compose up --detach

      - name: Check for unused dependencies
        run: mix deps.unlock --check-unused
        if: ${{matrix.lint}}

      - name: Compile with --warnings-as-errors
        run: mix compile --warnings-as-errors
        if: ${{matrix.lint}}

      - name: Check mix format
        run: mix format --check-formatted
        if: ${{matrix.lint}}

      - name: Run tests
        run: mix test --trace --include proxy
