name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Test (Elixir ${{ matrix.elixir }}, OTP ${{ matrix.erlang }})
    # We need Ubuntu 18.04 for older OTP versions.
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - erlang: "25.0"
            elixir: "1.13"
            lint: true
            coverage: true
          - erlang: "24.3"
            elixir: "1.12"
          - erlang: "23.3.1"
            elixir: "1.11.4"
          - erlang: "18.3"
            elixir: "1.5.3"
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      MIX_ENV: test

    steps:
      - uses: actions/checkout@v1

      - name: Install OTP and Elixir
        uses: erlef/setup-elixir@v1
        with:
          otp-version: ${{matrix.erlang}}
          elixir-version: ${{matrix.elixir}}

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v2
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-otp${{ matrix.erlang }}-elixir${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}

      - name: Install and compile dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: mix do deps.get --only test, deps.compile

      # Don't cache PLTs based on mix.lock hash, as Dialyzer can incrementally update even old ones
      # Cache key based on Elixir & Erlang version (also useful when running in matrix)
      - name: Cache Dialyzer's PLT
        uses: actions/cache@v2
        id: cache-plt
        with:
          path: priv/plts
          key: ${{ runner.os }}-otp${{ matrix.otp }}-elixir${{ matrix.elixir }}

      # Create PLTs if no cache was found
      - name: Create PLTs
        if: steps.cache-plt.outputs.cache-hit != 'true'
        run: mix dialyzer --plt

      - name: Start docker
        run: docker-compose up --detach

      - name: Check for unused dependencies
        run: mix do deps.get, deps.unlock --check-unused
        if: ${{matrix.lint && steps.cache-deps.outputs.cache-hit != 'true'}}

      - name: Compile with --warnings-as-errors
        run: mix compile --warnings-as-errors
        if: ${{matrix.lint}}

      - name: Check mix format
        run: mix format --check-formatted
        if: ${{matrix.lint}}

      - name: Run tests
        run: mix test --trace --include proxy
        if: ${{ !matrix.coverage }}

      - name: Run tests with coverage
        run: mix coveralls.github --include proxy
        if: ${{ matrix.coverage }}
